#page
{
    font-family: 'arial';
    background-color: #fefefc;
    color: #010101;
}
@media screen and (prefers-color-scheme: dark)
{
    #page
    {
    font-family: 'arial';
    background-color: #232323;
    color: #f9f9f9;
    }
}
#header
{
    text-align: center;
}
#recJB
{
    text-align: center;
}
#latestiOS
{
    text-align: center;
}
#latestJB
{
    text-align: center;
}
#otherJB
{
    text-align: center;
}
#singleButtonDiv
{
    text-align: right;
}
hr
{
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
}